# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Configuration files that may contain passwords
*.cfg

# Ignore log files
*.log

# Files created by Quickfix
*.body
*.header
*.seqnums
*.sessions

# Compiled Python
*.pyc

# Generated autotools files
*.Plo
*~

# Generated protobuf files
*.pb.h
*.pb.cc
*_pb.py
