# If not using the configuration server this file must be configured.
[GLOBAL]
trade_serialization_addr=ipc://tmp/trade_serializer
recovery_listener_addr=ipc:///tmp/recovery
aggregated_bbo_book_addr=tcp://*:10000
aggregated_bbo_book_id=31415

# Venue names listed below MUST match headings below or a parse error
# will occur. Do not use special char in the values or section names.
[VENUES]
venue1=MIC1
venue2=MIC1dev

# venue_id - Must be the same everywhere the venue is referenced.
# mic_name - Find the MIC here http://www.iso15022.org/MIC/homepageMIC.htm
# market_data_broadcast_addr - Transport type and address for ZMQ publisher for this venue
[MIC1]
venue_id=123456
mic_name=MIC1
market_data_broadcast_addr=tcp://127.0.0.1:5999

[MIC1dev]
venue_id=123457
mic_name=MIC1dev
market_data_broadcast_addr=tcp://127.0.0.1:5998
#order_ping_addr=tcp://127.0.0.1:7998
#order_interface_addr=tcp://127.0.0.1:9999


